@import "tailwindcss";

* {
  font-weight: 3000;
}

.hero {
  background-image: url("./assets/login/back4.jpg");
}

.navbar {
  border-bottom: 1px solid green;
}
.navbarr {
  border-bottom: 1px solid blue;
}
.offer {
  font-size: 14px;

  font-family: "Comic sans Ms";
}
.airtel {
  background-image: url("../src/assets/airtel.png");
}
.mtn {
  background-image: url("../src/assets/momo.jpeg");
}






html {
  scroll-behavior: smooth;
}



.backgroundSection {
  background-image: linear-gradient(rgba(22, 80, 87, 0.765)), url('./assets/back.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}